<div class="container-fluid" style="height: auto;" @fadeIn>
    <h2 class="text-primary text-center">Inverter Parameters</h2>
    <form #inverter_settings = "ngForm" (ngSubmit) = "onInverterSubmit()" >
        <div class="row">
            <div class="col">
                <h3 class="h3 text-warning">Secondary Inverter Set Value</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group"> 
                    <label style="color: tomato; font-size: large; font-weight: bold;" for="">INV1</label>
                    <br>
                    <label style="color: white;" for="">Set Value</label>
                    <input style="background: transparent; font-size: x-large; color : yellow;" type="text" class="form-control text-center" id="inv1_setvalue" name="inv1_setvalue" ngModel #inv1 = "ngModel">
                    <br>
                    <label style="color: thistle; font-size: large;" for="" id="inv1_presentvalue">Present Value : {{inverterValues[0]}}</label>
                </div>
            </div>
            <div class="col">
                <div class="form-group"> 
                    <label style="color: tomato; font-size: large; font-weight: bold;" for="">INV2</label>
                    <br>
                    <label style="color: white;" for="">Set Value</label>
                    <input style="background: transparent; font-size: x-large; color : yellow;" type="text" class="form-control text-center" id="inv2_setvalue" name="inv2_setvalue" ngModel #inv2 = "ngModel">
                    <br>
                    <label style="color: thistle; font-size: large;" for="" id="inv2_presentvalue">Present Value : {{inverterValues[1]}}</label>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" *ngIf = "!inv1.value || !inv2.value" [disabled] = "true">Submit</button>
        <button class="btn btn-primary" type="submit" *ngIf = "inv1.value && inv2.value" [disabled] = "false">Submit</button>
        <br>
        <small *ngIf = "responseStatusInverters === ''" style="font-size: medium; color: whitesmoke;"> {{formUpdateStatusDisplayStringInverters}} </small>
        <small *ngIf = "responseStatusInverters === 'success'"style="font-size: medium; color: greenyellow;"> {{formUpdateStatusDisplayStringInverters}} </small>
        <small *ngIf = "responseStatusInverters === 'fail'" style="font-size: medium; color: tomato;"> {{formUpdateStatusDisplayStringInverters}} </small>
    </form>
    <br>
    <br>
    <form #timevalue_settings = "ngForm" (ngSubmit) = "ontimevalueSubmit()">
        <div class="row">
            <div class="col">
                <h3 class="h3 text-warning">Main Inverter Set Value and Time value</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group"> 
                    <label style="color: tomato; font-size: large; font-weight: bold;" for="">INV3</label>
                    <br>
                    <br>
                    <br>
                    <label style="color: thistle; font-size: large;" for="" id="inv3_presentvalue">Present Value : {{inverterValues[2]}}</label>
                </div>
            </div>
            <div class="col">
                <label style="color: tomato; font-size: large; font-weight: bold;" for="">Cycle Time Value</label>
                <br>
                <label style="color: white;" for="">Set Value</label>
                <input style="background: transparent; font-size: x-large; color : yellow;" type="text" class="form-control text-center" id="time_value_set" name="time_value_set" ngModel #tv = "ngModel">
                <br>
                <label style="color: thistle; font-size: large;" for="" id="time_value_present">Present Value : {{timeValue}}</label>
            </div>
            <div class="col">
                <button class="btn btn-primary" type="submit" *ngIf = "!tv.value" [disabled] = "true">Submit</button>
                <button class="btn btn-primary" type="submit" *ngIf = "tv.value" [disabled] = "false">Submit</button>
                <br>
                <small *ngIf = "responseStatusTimeValue === ''" style="font-size: medium; color: whitesmoke;"> {{formUpdateStatusDisplayStringTimeValue}} </small>
                <small *ngIf = "responseStatusTimeValue === 'success'" style="font-size: medium; color: greenyellow;">  {{formUpdateStatusDisplayStringTimeValue}}  </small>
                <small *ngIf = "responseStatusTimeValue === 'fail'" style="font-size: medium; color: tomato;">  {{formUpdateStatusDisplayStringTimeValue}}  </small>
            </div>
        </div>
       
    </form>
</div>
