<nav class="navbar navbar-dark" style="background-color: rgba(12, 1, 1, 0.8)">
    <div class="row">
        <div class="col">
            <h2 class="text-white"> Kiln Scada </h2>
        </div>
        <div class="col">
            <div class="btn-group" role="group" aria-label="Navigation links">
                <button type="button" class="btn btn-secondary" routerLink = "dashboard" routerLinkActive = "active text-primary">Dashboard</button>
                <button type="button" class="btn btn-secondary" routerLink = "history" routerLinkActive = "active text-primary">History</button>
                <button type="button" class="btn btn-secondary" routerLink = "update" routerLinkActive = "active text-primary">Update</button>
            </div>
        </div>
    </div>
</nav>
