<nav class="navbar navbar-dark" style="background-color: rgba(12, 1, 1, 0.8)">
    <div class="row">
        <div class="col-lg-5">
            <h3 class="text-primary"> Kiln Scada </h3>
        </div>
        <div class="col-lg-5">
            <div class="btn-group" role="group" aria-label="Navigation links">
                <button type="button" class="btn btn-secondary" routerLink = "dashboard">Dashboard</button>
                <button type="button" class="btn btn-secondary" routerLink = "history">History</button>
                <button type="button" class="btn btn-secondary">Update</button>
            </div>
        </div>
    </div>
</nav>
