  <div id="loading" *ngIf = "initialUpdate === false">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div id="loaded" *ngIf = "initialUpdate === true">
    <table style="width:100%; color: ivory;">
      <thead>
        <tr>
          <th>Logtime</th>
          <th>TRC1</th>
          <th>TRC2</th>
          <th>TRC3</th>
          <th>TRC4</th>
          <th>TRC5</th>
          <th>TRC6</th>
          <th>TRC7</th>
          <th>TRC8</th>
          <th>TRC9</th>
          <th>TRC10</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let element of tempElementArray">
          <td>{{element.logtime}}</td>
          <td>{{element.t1}}</td>
          <td>{{element.t2}}</td>
          <td>{{element.t3}}</td>
          <td>{{element.t4}}</td>
          <td>{{element.t5}}</td>
          <td>{{element.t6}}</td>
          <td>{{element.t7}}</td>
          <td>{{element.t8}}</td>
          <td>{{element.t9}}</td>
          <td>{{element.t10}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  

  
  




