<nav class="navbar navbar-dark" style="background-color: rgba(28, 1, 59, 0.8)">
  <div class="row">
    <div class="col">
      <h2 class="text-info">Data History</h2>
    </div>
    <div class="col">
      <div class="btn-group right-align" role="group" aria-label="Navigation links">
          <button type="button" class="btn btn-secondary" routerLink = "temperature" routerLinkActive = "active text-success">Temperature</button>
          <button type="button" class="btn btn-secondary" routerLink = "inverter" routerLinkActive = "active text-success">Inverter</button>
      </div>
    </div>
  </div>
</nav>
