<nav class="navbar navbar-dark" style="background-color: rgba(12, 1, 1, 0.2)">
    <div class="row">
        <div class="col-lg-5">
            <h5 class="text-danger"> Data History </h5>
        </div>
        <div class="col-lg-5">
            <div class="btn-group" role="group" aria-label="Navigation links">
                <button type="button" class="btn btn-secondary" routerLink = "daily">Daily</button>
                <button type="button" class="btn btn-secondary">Weekly</button>
                <button type="button" class="btn btn-secondary">Monthly</button>
            </div>
        </div>
    </div>
</nav>

