<div class="main-background">
    <div class="row">"
        <div class="container">
            <h4 class="text-primary text-center">-Kiln Main Dashboard-</h4>
        </div>
    </div>
    <div class="row">"
        <div class="container-fluid card-bg">
            <h5 class="text-warning text-left">Temperature modules</h5>
            <div class="row">
                <div class="col">
                    <app-temp [temperature] = "tempDataArray[0]" [controllerName] = "tempIDArray[0]"></app-temp>
                </div>
                <div class="col">
                    <app-temp  [temperature] = "tempDataArray[1]" [controllerName] = "tempIDArray[1]"></app-temp>
                </div>
                <div class="col">
                    <app-temp  [temperature] = "tempDataArray[2]" [controllerName] = "tempIDArray[2]"></app-temp>
                </div>
                <div class="col">
                    <app-temp  [temperature] = "tempDataArray[3]" [controllerName] = "tempIDArray[3]"></app-temp>
                </div>
                <div class="col">
                    <app-temp  [temperature] = "tempDataArray[4]" [controllerName] = "tempIDArray[4]"></app-temp>
                </div>
            </div>
            <hr>
            <div class="row"> 
                <div class="col">
                    <app-temp  [temperature] = "tempDataArray[5]" [controllerName] = "tempIDArray[5]"></app-temp>
                </div>
                <div class="col">
                    <app-temp [temperature] = "tempDataArray[6]" [controllerName] = "tempIDArray[6]"></app-temp>
                </div>
                <div class="col">
                    <app-temp  [temperature] = "tempDataArray[7]" [controllerName] = "tempIDArray[7]"></app-temp>
                </div>
                <div class="col">
                    <app-temp  [temperature] = "tempDataArray[8]" [controllerName] = "tempIDArray[8]"></app-temp>
                </div>
                <div class="col">
                    <app-temp  [temperature] = "tempDataArray[9]" [controllerName] = "tempIDArray[9]"></app-temp>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="row">"
        <div class="container-fluid  card-bg">
            <h5 class="text-warning text-left">VFD modules</h5>
            <div class="row">
                <div class="col">
                    <app-vfd></app-vfd>
                </div>
                <div class="col">
                    <app-vfd></app-vfd>
                </div>
                <div class="col">
                    <app-vfd></app-vfd>
                </div>
                <div class="col">
                    <app-vfd></app-vfd>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
